.header {
  color: $cWhite;
  font-size: 18px;
  padding: 20px 20px;
  position: fixed;
  transition-duration: 0.5s;
  width: 100%;
  z-index: 10;

  &.is-active {
    background-color: #21054d;
    padding: 10px 20px;
    transition-duration: 0.5s;
  }
  &__inner {
    align-items: center;
    display: grid;
    grid-template: 1fr / 1fr 40px;
    // height: 100%;
  }
  &__title {
    font-size: 18px;
    & a {
      color: inherit;
    }
  }

  @include mq-up(md) {
    line-height: 1;
    padding: 30px;
    &.transform {
      padding: 10px 30px;
    }
    &__title {
      font-size: 28px;
    }
    &__nav {
      display: block;
    }
  }

  @include mq-up(lg) {
    &__inner {
      display: flex;
      justify-content: space-between;
    }
    & .nav__list {
      display: grid;
      grid-template-columns: repeat(6, auto);
      gap: calc(10px + 1vw);
      font-size: 16px;
    }
    & .burger-menu {
      display: none;
    }
    & .nav__item {
      @include nav-underline();
    }
  }
}
