/******************************************************************
PC
******************************************************************/
%font-lg {
  font-size: 72px;
}

.sp-br {
  display: none;
}

.sec-title {
  font-size: 36px;
  font-family: Montserrat;
}
.sec-sub-title {
  font-size: 16px;
  margin-bottom: 32px;
}

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  & .nav__list {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: calc(10px + 1vw);
    font-size: 16px;
  }
  & .burger-menu {
    display: none;
  }
  & .nav__item {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      background: $cWhite;
      bottom: -7px;
      left: 0;
      transform: scale(0, 1);
      transition: transform 0.3s;
      transform-origin: left top;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }
}

.hero {
  &__sub-title {
    font-size: 24px;
  }
}

.news {
  & .l-inner {
    display: flex;
  }
}

.service {
  & .service-list__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.works {
  padding: 50px;
  width: 90%;
  margin: 0 auto;
  &__inner {
    align-items: center;
    padding-top: 60px;
    width: 100%;
    display: grid;
    grid-template:
    // "... ...... ...... ...... ....." 50px

      "swiper ...... ......" 60px
      "swiper ...... title " 56px
      "swiper ...... subttl" 20px
      "swiper ...... text  " 100px
      "swiper ...... btn   " 100px
      // "... ...... ...... ...... ....." 50px
      // / 52vw 20px 1fr;
      / 60% 20px 1fr;

    &::after {
      content: "";
      display: block;
      width: 65%;
      position: absolute;
      height: 100%;
      z-index: -10;
    }
    & .sec-title {
      grid-row: 2;
      grid-area: title;
    }
    .sec-sub-title {
      grid-row: 3;
      grid-area: subttl;
      margin: 0;
    }
    .works__images {
      grid-area: swiper;
      grid-column: 1;
      grid-row: 1 / 7;
    }
    .text {
      grid-row: 4;
      grid-area: text;
    }
    .block-center {
      grid-row: -1;
      grid-area: btn;
    }
    .btn-more {
      margin: 0;
    }
  }
  &__images {
    // width: 60%;
    max-width: 750px;
    margin: 0;
  }
}

.company {
  padding-top: 110px;
  background: url(../images/bg-circle.png) no-repeat,
    url(./../images/bg-face.png) no-repeat;
  background-position: center center, center center;
}

.recruit {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width: 80%;
  margin: 0 auto;
  &__img {
    grid-column: 2;
    grid-row: 1;
    object-fit: cover;
  }
}

.footer {
  &__inner {
    width: 90%;
    max-width: 760px;
  }
  & .nav__item {
    & > a {
      font-size: 18px;
    }
  }
}
