/*----------------------------------
 news
----------------------------------*/
.news {
  & .news-list {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__heading {
    margin-bottom: 10px;
    @include mq-up(md) {
      white-space: nowrap;
    }
  }

  &__label {
    background-color: $cLabelBg;
    border-radius: 20px;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    margin-left: 15px;
    padding: 4px 0;
    text-align: center;
    width: 80px;
  }
  &__body {
    @extend %font-weight-lighter;
    @include mq-up(md) {
      padding-left: 30px;
    }
  }

  @include mq-up(md) {
    & .l-inner {
      padding: 0 30px;
    }
    & .news-list__item {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &__head {
      white-space: nowrap;
      margin-right: 20px;
    }
  }

  @include mq-up(lg) {
    & .l-inner {
      display: flex;
      // justify-content: center;
    }
    &__title {
      margin: 0 50px;
      align-items: center;
    }
  }
}

/*----------------------------------
 service
----------------------------------*/
.service {
  & .service-list__item:not(:last-child) {
    @extend .l-mb-md;
  }
  &__img {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  &__title {
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
  }
  &__text {
    @extend %font-weight-lighter;
  }

  @include mq-up(lg) {
    .service-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }
}

/*----------------------------------
 works
----------------------------------*/
.works {
  padding-bottom: 40px;
  &__inner {
    padding: 0 20px 60px 20px;
    position: relative;
    &::after {
      background: $cBgGray;
      bottom: 0;
      content: "";
      display: block;
      height: 65%;
      position: absolute;
      right: 0;
      width: 100%;
      z-index: -10;
    }
  }
  &__images {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 770px;
  }
  & .text {
    text-align: center;
    @extend %font-sm;
    @extend %font-weight-lighter;
  }

  @include mq-up(lg) {
    padding: 50px;
    width: 90%;
    margin: 0 auto;
    &__inner {
      align-items: center;
      padding-top: 7vw;
      padding-bottom: 5vw;
      width: 100%;
      display: grid;
      grid-template:
        // "... ...... ...... ...... ....." 50px

        "swiper ...... ......" 4vw
        "swiper ...... head  " 100px
        "swiper ...... text  " 100px
        "swiper ...... btn   " 100px
        "swiper ...... ......" 4vw
        // "... ...... ...... ...... ....." 50px
        / 60% 20px 1fr;

      &::after {
        content: "";
        display: block;
        width: 68%;
        position: absolute;
        right: -8%;
        height: 100%;
        z-index: -10;
      }
      & .l-heading {
        grid-row: 2;
        grid-area: head;
        margin: 0 !important;
      }
      & .works__images {
        grid-area: swiper;
        grid-column: 1;
        grid-row: 1 / 7;
      }
      & .text {
        grid-row: -3;
        grid-area: text;
      }
      & .l-block-center {
        grid-row: -2;
        grid-area: btn;
      }
      & .btn-more {
        margin: 0;
      }
    }
    &__images {
      // width: 60%;
      max-width: 750px;
      margin: 0;
    }
  }
}

/*----------------------------------
 company
----------------------------------*/
.company {
  background: url(../images/sp_bg-circle.png) center no-repeat;
  background-size: contain;
  padding-bottom: 80px;
  text-align: center;
  & .message {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 43px;
  }
  & .underline {
    background: linear-gradient(transparent 80%, #f5f534 0%); //!
    padding: 3px 10px;
  }
  & .text {
    @extend %font-sm;
    @extend %font-weight-lighter;
  }

  @include mq-up(md) {
    background: url(../images/bg-circle.png) center no-repeat;
    background-size: contain;
    & .underline {
      &:nth-of-type(1) {
        padding-right: 0;
      }
      &:nth-of-type(2) {
        padding-left: 0;
      }
    }
  }

  @include mq-up(lg) {
    padding-top: 110px;
    background: url(../images/bg-circle.png) no-repeat,
      url(./../images/bg-face.png) no-repeat;
    background-position: center center, center center;
  }
}

/*----------------------------------
 recruit
----------------------------------*/
.recruit {
  &__inner {
    background: $cBgGray;
    padding: 60px 0 50px 0;
    text-align: center;
  }

  &__img > img {
    object-fit: cover;
    object-position: 50% 0%; //!
    width: 100%;
  }

  @include mq-down(lg) {
    &__img > img {
      max-height: 400px;
    }
  }

  @include mq-up(lg) {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 80%;
    margin: 0 auto;
    align-items: stretch;
    &__img {
      grid-column: 2;
      grid-row: 1;
      & img {
        height: 100%;
      }
    }
  }
}

/*----------------------------------
 contact
----------------------------------*/
.contact {
  background: $cBgGray;
  margin-top: 40px;
  text-align: center;
  & .l-inner {
    padding: 60px 0;
  }
}
